In [3]:
import numpy as np
import pandas as pd

THỰC HÀNH LAMBDA - APPLY

1. Sử dụng bộ dữ liệu baseball.csv

In [5]:
df = pd.read_csv("baseball.csv")
df.head(10)

      id     player  year  stint team  lg  ...    so   ibb  hbp   sh   sf  gidp
0  88641  womacto01  2006      2  CHN  NL  ...   4.0   0.0  0.0  3.0  0.0   0.0
1  88643  schilcu01  2006      1  BOS  AL  ...   1.0   0.0  0.0  0.0  0.0   0.0
2  88645  myersmi01  2006      1  NYA  AL  ...   0.0   0.0  0.0  0.0  0.0   0.0
3  88649  helliri01  2006      1  MIL  NL  ...   2.0   0.0  0.0  0.0  0.0   0.0
4  88650  johnsra05  2006      1  NYA  AL  ...   4.0   0.0  0.0  0.0  0.0   0.0
5  88652  finlest01  2006      1  SFN  NL  ...  55.0   2.0  2.0  3.0  4.0   6.0
6  88653  gonzalu01  2006      1  ARI  NL  ...  58.0  10.0  7.0  0.0  6.0  14.0
7  88662   seleaa01  2006      1  LAN  NL  ...   7.0   0.0  0.0  6.0  0.0   1.0
8  89177  francju01  2007      2  ATL  NL  ...  10.0   1.0  0.0  0.0  1.0   1.0
9  89178  francju01  2007      1  NYN  NL  ...  13.0   0.0  0.0  0.0  1.0   1.0

[10 rows x 23 columns]

2. Hãy xây dựng hàm lambda theo công thức sau: $\frac{x + log(x)}{\sqrt(x)}$

In [6]:
ct = lambda x : (x+np.log10(x))/np.sqrt(x)

In [7]:
ct(10)

3.478505426185217

3. Hãy thực thi hàm apply với lambda ở trên theo chiều ngang và chiều dọc đối với 1 Series do bạn chọn từ data frame ở bước 1

In [8]:
df['so'].apply(lambda x : ct(x))

0     2.301030
1     1.000000
2         -inf
3     1.627074
4     2.301030
        ...
95        -inf
96        -inf
97    8.819619
98    5.746910
99    2.007517
Name: so, Length: 100, dtype: float64

4. Hãy thực thi hàm apply với lambda ở trên theo chiều ngang và chiều dọc với 1 nhóm cột (hoặc có thể là toàn bộ) của data frame ở bước 1

In [9]:
df[['so','g']].apply(lambda x : ct(x))

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:726: RuntimeWarning: divide by zero encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)

          so          g
0   2.301030   4.652265
1   1.000000   5.835621
2       -inf   8.101642
3   1.627074   4.763055
4   2.301030   6.008902
..       ...        ...
95      -inf   6.093598
96      -inf   4.652265
97  8.819619  11.007858
98  5.746910   9.535317
99  2.007517   3.147718

[100 rows x 2 columns]

THỰC HÀNH APPLY VÀ HÀM TỰ XÂY DỰNG

Trong thực tế không phải lúc nào cũng sử dụng lambda với apply, mà có thể sử dụng apply với các hàm có sẵn khác hoặc do lập trình viên tự xây dựng.

1. Hãy áp dụng nhóm hàm sum, mean, sqrt, log của thư viện numpy cho data frame ở trên theo chiều ngang và chiều dọc

In [10]:
sum1 = df[['so','g']].apply(lambda x : np.sum(x), axis = 0)
sum1

so    2408.0
g     5238.0
dtype: float64

In [11]:
sum2 = df[['so','g']].apply(lambda x : np.sum(x), axis = 1)
sum2

0      23.0
1      32.0
2      62.0
3      22.0
4      37.0
      ...
95     34.0
96     19.0
97    191.0
98    117.0
99     11.0
Length: 100, dtype: float64

In [12]:
mean1 = df[['so','g']].apply(lambda x : np.mean(x), axis = 0)
mean1

so    24.08
g     52.38
dtype: float64

In [13]:
mean2 = df[['so','g']].apply(lambda x : np.mean(x), axis = 1)
mean2

0     11.5
1     16.0
2     31.0
3     11.0
4     18.5
      ...
95    17.0
96     9.5
97    95.5
98    58.5
99     5.5
Length: 100, dtype: float64

In [14]:
sqrt1 = df[['so','g']].apply(lambda x : np.sqrt(x), axis = 0)
sqrt1

          so          g
0   2.000000   4.358899
1   1.000000   5.567764
2   0.000000   7.874008
3   1.414214   4.472136
4   2.000000   5.744563
..       ...        ...
95  0.000000   5.830952
96  0.000000   4.358899
97  8.602325  10.816654
98  5.477226   9.327379
99  1.732051   2.828427

[100 rows x 2 columns]

In [15]:
sqrt2 = df[['so','g']].apply(lambda x : np.sqrt(x), axis = 1)
sqrt2

          so          g
0   2.000000   4.358899
1   1.000000   5.567764
2   0.000000   7.874008
3   1.414214   4.472136
4   2.000000   5.744563
..       ...        ...
95  0.000000   5.830952
96  0.000000   4.358899
97  8.602325  10.816654
98  5.477226   9.327379
99  1.732051   2.828427

[100 rows x 2 columns]

In [16]:
log1 = df[['so','g']].apply(lambda x : np.log(x), axis = 0)
log1

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:726: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

          so         g
0   1.386294  2.944439
1   0.000000  3.433987
2       -inf  4.127134
3   0.693147  2.995732
4   1.386294  3.496508
..       ...       ...
95      -inf  3.526361
96      -inf  2.944439
97  4.304065  4.762174
98  3.401197  4.465908
99  1.098612  2.079442

[100 rows x 2 columns]

In [17]:
log2 = df[['so','g']].apply(lambda x : np.log(x), axis = 1)
log2

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:726: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

          so         g
0   1.386294  2.944439
1   0.000000  3.433987
2       -inf  4.127134
3   0.693147  2.995732
4   1.386294  3.496508
..       ...       ...
95      -inf  3.526361
96      -inf  2.944439
97  4.304065  4.762174
98  3.401197  4.465908
99  1.098612  2.079442

[100 rows x 2 columns]

2. Hãy xây dựng một hàm có tên là my_function có tham số đầu vào là x. Phương pháp tính toán của hàm như sau:
 (i) Nếu x >0  thì trả về log10(x); (ii) Nếu x <= 0  thì trả về $e^{x}$

In [18]:
my_function = lambda x : np.log10(x) if x>0 else np.exp(x)

In [19]:
my_function(-5)

0.006737946999085467

3. Hãy sử dụng hàm apply để gọi my_function áp dụng cho data frame ở bước 1 ở trên

In [23]:
for i in df.columns:
  print(df[f'{i}'].apply(my_function))

0     4.947635
1     4.947644
2     4.947654
3     4.947674
4     4.947679
        ...
95    4.951944
96    4.951949
97    4.951969
98    4.951983
99    4.951988
Name: id, Length: 100, dtype: float64

TypeError: ignored